.chessboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 50px; 
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(8, 1fr);   
    width: 80vmin; 
    height: 80vmin; 
    background-color: #fff;
    border: 2px solid #333; 
    position: relative;
  }
  
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;     
    box-sizing: border-box;     
    width: 100%; 
    height: 100%; 
  }
  
  .square.light {
    background-color: #f0d9b5; 
  }
  
  .square.dark {
    background-color: #b58863; 
  }
  
  .row-labels {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -20px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
  }
  
  .row-label {
    height: 10vmin; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
  }
  
  .col-labels {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .col-label {
    width: 10vmin; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
  }
  